data_ingestion\linked_in.ipynb
.env
test_folder
data_ingestion/test_folder
data_ingestion/linkedin

data_ingestion/clean/csv_files
./data_ingestion/clean/csv_files

linked_in.ipynb
data_ingestion\.env
.env
data_ingestion\__pycache__
__pycache__
test folder
data_ingestion/logs
logs
./data_ingestion/venv
C:\Users\simon\Desktop\MYCOOLESTSHIT\GIANTJOBPAGE\data_ingestion\venv
data_ingestion\venv
data_ingestion/venv
data_ingestion/.venv
./venv
.venv


linkedin
